# --------------------------------------------------
# Application
# --------------------------------------------------
APP_NAME=CourtReserve
APP_PORT=3000
NODE_ENV=development

# --------------------------------------------------
# Master Database
# --------------------------------------------------
MASTER_DATABASE_HOST=localhost
MASTER_DATABASE_PORT=5432
MASTER_DATABASE_NAME=courtreserve_master
MASTER_DATABASE_USER=postgres
MASTER_DATABASE_PASSWORD=

# --------------------------------------------------
# JWT
# --------------------------------------------------
JWT_SECRET=
JWT_EXPIRES_IN=1d

# --------------------------------------------------
# Mail
# --------------------------------------------------
RESEND_API_KEY=

# --------------------------------------------------
# Logger
# --------------------------------------------------
LOG_LEVEL=info
TENANT_CONNECTION_TTL_MS=300000